/* Main styles are saved for easier multiple usage */
:root {
    --Navy: #0a192f;
    --LightNavy: #112240;
    --LightestNavy: #233554;
    --Slate: #8892b0;
    --LightSlate: #a8b2d1;
    --LightestSlate: #ccd6f6;
    --Green: #64ffda;
    --LightGreen: #23b693;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --mainfont: 30px;
    --transition: 375ms ease-in-out;
   } 
   
   
.body {
       background-color: var(--Navy);
   }
   
   main h1 h2 h3 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Main text styling */
main h1 {
    color: var(--Green);
    font-family: var(--font-mono);
    font-size: var(--mainfont);
    line-height: 1.1;
    
    
}

main h2 {
    color: var(--LightestSlate);
    font-size: 80px;

}

main h3 {
    color: var(--Slate);
    font-size: 80px;
   
}

main p {
    color: var(--Slate);
    font-size: var(--mainfont);
    
}

/* Each section ID for links and styling */
#about-me {
    color: var(--Green);
    font-size: var(--mainfont);
}

#experience {
    color: var(--Green);
    font-size: 30px;
}

#projects {
    color: var(--Green);
    font-size: var(--mainfont);
}

.navbarText {
    color: var(--Green);
    font-size: var(--mainfont);
    font-family: var(--font-mono);
}
.projectExample {
    color: var(--LightGreen);
    font-size: 20px;
    font-family: var(--font-mono);
    line-height: 1.5
}

.maincontent {
    
    color: var(--Slate);
    font-size: 20px;
    font-family: var(--font-mono);
    
    line-height: 1.5;
    
}

/* displaying text of some sections on the right */
.onRight {
    text-align:right;
}

.hidden{
    
}

/* footer style from bootstrap */
footer .main-footer{  padding: 20px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}


.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 10px;}


/* Responsive design added (sizes found on Stackoverflow) */


/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:961px)  { 
    .intro {
        font-size: var(--mainfont);
      }
    .navbarText {
        font-size: 20px;
    }
 }

 @media (max-width:1400px)  { 
    .hidden {
        visibility: hidden;
      }
    #resume {
        font-size: 25px;
    }
 }