:root {
 --Navy: #0a192f;
 --LightNavy: #112240;
 --LightestNavy: #233554;
 --Slate: #8892b0;
 --LightSlate: #a8b2d1;
 --LightestSlate: #ccd6f6;
 --Green: #64ffda;
 --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",sans-serif;
 --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
 --left: 0px 0px 0px 25%;
}

html {
    background-color: var(--Navy);
}

header ul {
    font: var(--font-mono);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type:decimal-leading-zero;
    justify-content: space-between;
    margin: 30px 50px 250px 80%;
    color: var(--Green);
   
}

header ul span {
    color:var(--LightSlate)
}

main h1 h2 h3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    
}

main h1 {
    color: var(--Green);
    font: var(--font-mono);
    font-size: 30px;
    line-height: 1.1;
    margin: var(--left);
    
}

main h2 {
    color: var(--LightestSlate);
    font-size: 80px;
    margin: var(--left);
}

main h3 {
    color: var(--Slate);
    font-size: 80px;
    margin: var(--left);
}

main p {
    color: var(--Slate);
    font-size: 30px;
    margin: var(--left);
}

.textmain {
    font-size: 30px;
    
}

.position {
    margin: 20% 0px 0px 25%;
    color: var(--Green);
}

.maincontent {
    color: var(--LightestSlate);
}

#about-me {

}

#experience {

}

#projects {

}

#contact {
    
}